body {
    font-size: 100%,
    font-family: Helvetica, sans-serif;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.makebigger {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.active {
    color: navajowhite !important;
}
