{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>My name is Austin. Welcome to my Bootstrap Site!</h1>
            <p>
                <span class="red makebigger">Lorem ipsum dolor sit amet</span>, consectetur adipiscing
                elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. At consectetur lorem donec massa sapien faucibus et molestie. Arcu dictum varius duis at
                consectetur
                lorem
                donec massa sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
                Adipiscing
                elit
                pellentesque habitant morbi tristique senectus. Neque aliquam vestibulum morbi blandit. Blandit turpis
                cursus in hac
                habitasse platea dictumst quisque sagittis. Lectus quam id leo in vitae turpis massa sed. Lectus arcu
                bibendum at
                varius. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Pellentesque elit
                ullamcorper
                dignissim
                cras tincidunt. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Eleifend quam
                adipiscing
                vitae
                proin sagittis nisl. In nisl nisi scelerisque eu ultrices vitae auctor eu. Lorem mollis aliquam ut
                porttitor
                leo a.
                Scelerisque in dictum non consectetur a erat nam at lectus.
            </p>
            <p>
                Eget gravida cum sociis natoque. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. A
                diam
                maecenas
                sed enim ut sem viverra. Nisi lacus sed viverra tellus in hac habitasse. Ultricies tristique nulla
                aliquet
                enim. Eu
                lobortis elementum nibh tellus molestie nunc. Orci ac auctor augue mauris. Eget gravida cum sociis
                natoque
                penatibus
                et magnis dis. Volutpat est velit egestas dui id. Nisi porta lorem mollis aliquam ut porttitor leo a
                diam.
                Nibh sed
                pulvinar proin gravida hendrerit lectus. Duis tristique sollicitudin nibh sit amet commodo nulla
                facilisi
                nullam.
                Lacus sed turpis tincidunt id aliquet. Fusce ut placerat orci nulla pellentesque dignissim. Tortor id
                aliquet lectus
                proin nibh nisl condimentum id. Adipiscing at in tellus integer. Condimentum vitae sapien pellentesque
                habitant
                morbi. Ac felis donec et odio pellentesque. Mattis nunc sed blandit libero volutpat sed cras ornare.
                Ultrices
                tincidunt arcu non sodales neque.
            </p>
        </div>
        <div class="col">
            <h1>SUPPLEMENTAL CONTENT HERE</h1>
        </div>
    </div>
</div>
{% endblock %}
