{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>My name is Austin. Welcome to my Bootstrap Site!</h1>
                <p>
                    <span class="red makebigger">This site was made</span> using skills and tools that I acquired during
                    my first semester at NJIT. Before going back to school for my master's degree, I worked as an
                    Account Executive in pharmaceutical advertising for 8 years. I hope to complete my degree in
                    Cybersecurity and Privacy and gain employment in this new industry within the next 3 years.
                </p>
                <p>
                    Within the various pages of this website you will see a breakdown of all the knowledge that I have
                    gained over the past 7 weeks in this course. Web Systems Development has been a very challenging set
                    of skills to learn so far, but I hope you enjoy what I have done. Enjoy your reading!
                </p>
            </div>
            <div class="col">
                <h1><span class="red">SUPPLEMENTAL CONTENT HERE</span></h1>
            </div>
        </div>
    </div>
{% endblock %}
