{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>My name is Austin. Welcome to my Bootstrap Site!</h1>
                <p>
                    <span class="red makebigger bold">This site</span> was made using skills and tools that I acquired
                    during
                    my first semester at NJIT. I received my undergraduate degree in Communications from The
                    Pennsylvania State University back in 2013. Before going back to school for my master's degree, I
                    worked as an
                    Account Executive in pharmaceutical advertising for 8 years. I hope to complete my degree at NJIT in
                    Cybersecurity and Privacy and gain employment in this new industry within the next 3 years.
                </p>
                <p>
                    Within the various pages of this website you will see a breakdown of all the knowledge that I have
                    gained over the past 7-8 weeks in this course. Web Systems Development has been a very challenging set
                    of skills to learn so far, but I hope you enjoy what I have done!
                </p>
                <p>
                    Let's go State!
                </p>
                <p>
                    There can only be one...champion - The Highlanders!
                </p>
            </div>
            <div class="col">
                <img src="static\images\PSU.png" class="img-fluid" alt="PSU Logo"></a>
                <img src="static\images\Highlander.png" class="img-fluid" alt="NJIT Logo"></a>
            </div>
        </div>
    </div>
{% endblock %}
