{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>PYTHON / FLASK</h1>
                <p>
                    This page of my application will focus on breaking down an outline of my project files as well as
                    written descriptions of pytest and flask.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-7">
                <h3>PYTHON & PYTEST</h3>
                <p>
                    According to the organization's website: "<a
                        href="https://www.python.org/doc/essays/blurb/">Python</a> is an interpreted, object-oriented,
                    high-level programming language with dynamic semantics." In simpler terms, it is a programming
                    language used for <b>object-oriented programming</b> of applications.
                </p>
                <p>
                    As written on the pytest organization website: "<a
                        href="https://docs.pytest.org/en/7.0.x/">Pytest</a> is a framework that makes it easy to write
                    small, readable tests that can scale to support complex functional testing for applications and
                    libraries." In this application we utilize pytest functions to ensure content on the interior pages
                    is accurately being displayed. A visual example of this provided to the right.
                </p>
                <p>
                    This test is designed to check against the navigation links and header bar to make sure that the
                    correct pages inside the application are being linked to, and that the right copy is written for
                    each page on the header nav bar. If anything does not match, Pytest will return an error.
                </p>
            </div>
            <div class="col-5 mt-5">
                <img src="static\images\Pytest1.png" class="img-fluid" alt="Pytest Example 1">
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p>
                    An additional pytest example is provided to the right, here. This test is designed to check the
                    content
                    of the <a href="about">About</a> page and ensures that the H1-headline is written and showing
                    appropriately.
                </p>
                <p>
                    Pytest is extremely useful and important. By testing our projects as they are being developed, in a
                    dependable way, we can ensure the work that we are doing is functional and not detrimental to the
                    overall project code.
                </p>
                <p>
                    For this application I utilized a <b>Simple Pages</b> test file to orchestrate the tests for each
                    page and element (more on Simple Page below). The example images from this test file are shown
                    above, on the right-hand side of
                    the page. The functions written in this file scan the pages of the application that are specified
                    and then cross-check the content therein to look for 100% matches. If there is not a 100% match,
                    running a pytest will return errors that then need to be addressed.
                </p>
            </div>
            <div class="col-5">
                <img src="static\images\Pytest2.png" class="img-fluid" alt="Pytest Example 2">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-7">
                <h3>FLASK</h3>
                <p>
                    According to the Flask website: "<a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> is
                    a lightweight web application framework designed to make getting started quick and easy." It is a
                    Python module, which means that the entire framework is written in Python code. The repository for
                    this application is hosted on <a href="https://github.com/WillyA1991/anotherflaskaw">GitHub here</a>.
                    Additionally, here are the Heroku links for the <a
                        href="https://dashboard.heroku.com/apps/aw-is601-1-prod">Production</a> and <a
                        href="https://dashboard.heroku.com/apps/aw-is601-1-dev">Development</a> Environments for this
                    application.
                </p>
                <p>
                    <b>Flask Blueprints</b> encapsulate functionality for the web app, such as views and templates. It
                    is a
                    very helpful way to organize and work with an application. For this application, I utilize Flask
                    Blueprints for the bundle of controllers that handle routes within the app itself. As you can see in
                    the image to the right, this application uses Flask to import a Blueprint template that is then used
                    to make the bundle of controllers that allow for correct routing between pages.
                </p>
                <p>
                    <b>Simple Pages</b> is also a bundle of controllers made from a Flask Blueprint! With Simple Pages,
                    I have the ability to make template folders that then "speak to one another" efficiently. For this
                    app, we utilize this method to have all the html pages of the site return and route correctly by
                    having a parent "base.html" file living within the root of the app. Any of the internal pages will
                    return correctly in this manner without having to add additional code.
                </p>
            </div>
            <div class="col-5 mt-5">
                <img src="static\images\Blueprint.png" class="img-fluid" alt="Blueprint">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-7">
                <h3>PROJECT FILE BREAKDOWN</h3>
                <ul>
                    <li class="mb-2"><b>IS601 Project setup</b> = root of the project; contains all files for the
                        application
                    </li>
                    <ul>
                        <li class="mb-2"><b>.github</b> = folder that contains the workflow files for GitHub Actions
                        </li>
                        <ul>
                            <li class="mb-2"><b>dev.yml</b> = YAML file that dictates the event(s) and parameters of the
                                Development Workflow in GitHub Actions
                            </li>
                            <li class="mb-2"><b>prod.yml</b> = YAML file that dictates the event(s) and parameters of
                                the Production Workflow in GitHub Actions
                            </li>
                        </ul>
                        <li class="mb-2"><b>.pytest_cache</b> = historical records of tests run on this application
                            during pytest
                        </li>
                        <li class="mb-2"><b>app</b> = application folder that houses each of the application .html pages
                            and their content/imagery, as well as appropriate controllers
                        </li>
                        <ul>
                            <li class="mb-2"><b>simple_pages</b> = package of templates that are the individual .html
                                pages for this application, and their Flask Blueprint controller bundle
                            </li>
                            <li class="mb-2"><b>static</b> = folder that houses the css and javascript code files for
                                the application, as well as any images that are stored for use on the internal pages
                            </li>
                            <li class="mb-2"><b>templates</b> = houses the base.html file that runs the simple-pages
                                template of header navigation so that it can persist across all pages of the
                                application
                            </li>
                            <li class="mb-2"><b>__init__.py</b> = file that creates and configures an instance of the
                                Flask application
                            </li>
                            <li class="mb-2"><b>run.py</b> = python file that allows Gunicorn to serve the application
                                in production
                            </li>
                        </ul>
                        <li class="mb-2"><b>calculator</b> = houses calculator controller file; not in-use for this
                            application at the moment
                        </li>
                        <li class="mb-2"><b>tests</b> = folder that houses all the tests, and their designed parameters
                            for triggering/running, in the application
                        </li>
                        <li class="mb-2"><b>.coveragerc</b> = controller for coverage.py file</li>
                        <li class="mb-2"><b>.dockerignore</b> = file that tells the docker CLI to exclude files and
                            directories that match ".git/", in this application, when building the application image
                        </li>
                        <li class="mb-2"><b>.gitignore</b> = file that tells Git a list of intentionally untracked files
                            to ignore during its processes
                        </li>
                        <li class="mb-2"><b>.pylintrc</b> = file that instructs the pylint check process to ignore
                            certain checks
                        </li>
                        <li class="mb-2"><b>docker-compose.yml</b> = Orchestration file that contains the configuration
                            to develop locally, it overrides the Dockerfile to run the flask development server instead
                            of running the gunicorn server that is used for hosting on Heroku
                        </li>
                        <li class="mb-2"><b>Dockerfile</b> = file that is used to create an image to run in a container
                            that runs the program
                        </li>
                        <li class="mb-2"><b>heroku.yml</b> = YAML file that dictates the Docker build for Heroku when
                            hosting the application in Development or Production environments - defines how to build the
                            Docker images on Heroku
                        </li>
                        <li class="mb-2"><b>pytest.ini</b> = configuration file used to hold pytest configuration
                            information - where the test parameters can be pulled from and what parameters to ignore
                        </li>
                        <li class="mb-2"><b>readme.md</b> = Read Me file for the application - text/image/link
                            information that a user can place within the application for context and instructions
                        </li>
                        <li class="mb-2"><b>requirements.txt</b> = Text file that details what python packages are
                            needed to run this application
                        </li>
                        <li class="mb-2"><b>setup.py</b> = Python file that is the build script for "setuptools". Helps
                            to install needed python packages for the application
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col-5">
                <h4>On the left is a breakdown of each folder and file that comprises this application</h4>
                <p>
                    Not all of them
                    are in use at this time, but they all have a function and purpose.This breakdown is in outline
                    format, mirroring the project file orchestration of the source code.
                </p>
                <img src="static\images\Outline.png" class="img-fluid" alt="Project File Snapshot">
            </div>
        </div>
    </div>
{% endblock %}
