{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>PROJECT 2 CONTENT AND EXAMPLES</h1>
                <p>
                    This page has been amended to the original web application in order to detail the required
                    information and examples for Project 2. Below you will see 4 sections that detail information we
                    have learned so far concerning, but not limited to, glossary of terms, AAA Testing and Python
                    testing importance, Principles of OOP, and SOLID.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>OBJECT ORIENTED PROGRAMMING (OOP) TERMS</h2>
                <ul>
                    <li class="mb-2"><b>INSTANTIATION</b> = <a
                            href="https://www.techopedia.com/definition/26857/instantiate">techopedia</a> defines
                        Instantiation as, " instantiation (the noun) in computer science refers to the creation of an
                        object (or an “instance” of a given class)...an instantiated object is named and created, in
                        memory or on disk."
                    </li>
                    <ul>
                        <li>Instantiation is the process of taking a class definition and creating an object that then
                            can be used in a program
                        </li>
                        <li>An <u>Instance</u> is an object that is built from a class and that contains real data
                        <li class="mb-3">An example: <img src="static\images\InstantiationExample.png" class="img-fluid"
                                                          alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>CLASS</b> = <a href="https://www.geeksforgeeks.org/python-oops-concepts/">GeeksforGeeks.com</a>
                        defines a class as a collection of objects - they contain the blueprints from which objects are
                        then created. They are logical entities that can be called upon in the program, and contain methods and attributes
                    <ul>
                        <li class="mb-3">An example: <img src="static\images\ClassExample.png" class="img-fluid"
                                                          alt="Containerized Applications visual"></li>
                    </ul>
                    </li>
                    <li class="mb-2"><b>OBJECT</b> = <a href="https://www.geeksforgeeks.org/python-oops-concepts/">GeeksforGeeks.com</a>
                        defines object as any single integer, or any single string. Lists, arrays, and dictionaries are
                        all also objects even though they contain other objects</li>
                    <ul>
                        <li class="mb-2">they are entities that have state, identity, and behavior associated with
                            them
                        </li>
                        <li class="mb-3">An example is here: The test is instantiating the class "Division" from the
                            calculations file. The object "calculation" is then created, from which the test can then
                            run its assertion against <img src="static\images\ObjectExample.png" class="img-fluid"
                                                           alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>NAMESPACE</b> = Namespaces are the files and folders of classes. <a
                            href="https://realpython.com/python-namespaces-scope/">realpython.com</a> elaborates on this
                        by saying, "A namespace is a collection of currently defined symbolic names along with
                        information about the object that each name references. You can think of a namespace as a
                        dictionary in which the keys are the object names and the values are the objects themselves.
                        Each key-value pair maps a name to its corresponding object."
                    </li>
                    <ul>
                        <li class="mb-2">In python there are 4 types of namespaces:
                            <ul>
                                <li><u>Built-In</u> - contains the names of all Python's objects that are available
                                    whenever it is running [ex: max(), len(), int(), str()]
                                </li>
                                <li><u>Global</u> - contains any names defined at the level of the main program. These
                                    are created when the program starts and they remain in existence until interpreter
                                    is terminated
                                </li>
                                <li><u>Enclosing</u> - functions can can also define other functions inside themselves.
                                    Enclosing namespaces define a function to a local namespace within themselves. When
                                    the enclosing namespace is called, the local namespaces will be activated in
                                    whatever way they are programmed
                                </li>
                                <li><u>Local</u> - functions can can also define other functions inside themselves. The
                                    namespaces that live inside of an enclosed namespace are called the local namespace.
                                    They are called when their enclosing namespace is called
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">As a program runs namespaces are created as necessary and then deleted when no
                            longer needed
                        </li>
                        <li class="mb-2">Different namespaces can have different instances of the same name active, i.e.
                            "def f()" appearing in 2 different namespaces, but this can never be so within a single
                            namespace
                        </li>
                        <li class="mb-3">As long as each instance is in a different namespace, they're all maintained
                            separately and won't interfere
                        </li>
                    </ul>
                    <li class="mb-2"><b>CONSTRUCTOR</b> = Constructors are used for instantiating an object.
                        <a href="https://www.geeksforgeeks.org/constructors-in-python/">GeeksforGeeks</a> says, "The
                        task of constructors is to initialize(assign values) to the data members of the class when an
                        object of the class is created. In Python the __init__() method is called the constructor and is
                        always called when an object is created."
                    </li>
                    <ul>
                        <li class="mb-3">An example: when the class "Calculation" is instantiated the constructor method
                            shown "(def __init__(self, tuple_list: tuple):" will always get called as the object is
                            being created <img
                                    src="static\images\ConstructorExample.png" class="img-fluid"
                                    alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>FIXTURE</b> = Fixtures are functions which will run before each Pytest test to
                        which it is applied. <a href="https://www.tutorialspoint.com/pytest/pytest_fixtures.htm">tutorialspoint.com</a>
                        says, "Fixtures are used to feed some data to the tests such as database connections, URLs to
                        test and some sort of input data. Therefore, instead of running the same code for every test, we
                        can attach fixture function to the tests and it will run and return the data to the test before
                        executing each test."
                    </li>
                    <ul>
                        <li class="mb-2">A function is marked as a fixture like this: "@pytest.fixture"</li>
                        <li class="mb-3">An example: <img
                                src="static\images\FixtureExample.png" class="img-fluid"
                                alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>TYPE HINT</b> = <a
                            href="https://www.pythontutorial.net/python-basics/python-type-hints/">pythontutorial.net</a>
                        states that Type Hinting is a function of the static and dynamic typing that is available in
                        Python. It means that we can hint at the specified input or output of a function
                    </li>
                    <ul>
                        <li class="mb-2">The interpreter completely ignores type hints, so if a non-hinted at type is
                            passed through the function will still continue to run
                        </li>
                        <li class="mb-3">An example here: "tuple_list:" is type-hinting that it should be a tuple<img
                                src="static\images\TypeHintExample.png" class="img-fluid"
                                alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>TYPE CAST</b> = Type Casting is when a variable is directly influenced on what
                        type it will be as it is being run in the program. This can be done with Constructor functions such as:
                    </li>
                    <ul>
                        <li class="mb-2"><u>int()</u> - constructs an integer number, given that the input can represent
                            a
                            whole number, <u>str()</u> - constructs a string, and <u>float()</u> - constructs a
                            float number, given that the input can be a float number
                        </li>
                        <li class="mb-2"><a
                                href="https://www.geeksforgeeks.org/type-casting-in-python-implicit-and-explicit-with-examples/">GeeksforGeeks</a>
                            elaborates on this with "Type Casting is the method to convert the variable data type into a
                            certain data type in order to the operation required to be performed by users."
                        </li>
                        <li class="mb-3">An example here: in the for-loop, each item is being type-cast as
                            "(float(item))"<img
                                    src="static\images\TypeCastExample.png" class="img-fluid"
                                    alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>UNIT TEST</b> =</li>
                    <li class="mb-2"><b>STATIC</b> = </li>
                    <li class="mb-2"><b>STATIC METHOD</b> = </li>
                    <li class="mb-2"><b>INSTANCE METHOD</b> = </li>
                    <li class="mb-2"><b>INSTANCE PROPERTY</b> = </li>
                    <li class="mb-2"><b>STATIC PROPERTY</b> = </li>
                    <li class="mb-2"><b>ENCAPSULATION</b> = </li>
                    <li class="mb-2"><b>INHERITANCE</b> = </li>
                    <li class="mb-2"><b>POLYMORPHISM</b> = </li>
                    <li class="mb-2"><b>ABSTRACTION</b> = </li>
                    <li class="mb-2"><b>S.O.L.I.D.</b> = </li>
                    <li class="mb-2"><b>DESIGN PATTERNS</b> = </li>
                </ul>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>AAA TESTING WITH PYTHON</h2>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>PRINCIPLES OF OOP</h2>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>S.O.L.I.D. PROGRAMMING</h2>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
    </div>
{% endblock %}
