{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1> Git </h1>
                Git is a free and open-source distributed version control system designed to handle
                everything from small to very large projects with speed and efficiency. An in-progress, or completed,
                project's code can be stored in a <span class="bold">GitHub</span> repository for proper management and
                version-control of the source code. Git is regarded as the dominant source code management software (SCM)
                at this time.
                <p class="mt-4">
                    <span class="makebigger">Branches</span>
                </p>
            </div>
            <div class="col-4">
                GITHUB
                <p>
                    GITHUB
                </p>
            </div>
            <p>
                Merge
            </p>
            <p>
                Commit
            </p>
            <p>
                Tags
            </p>
            <p>
                Repositories
            </p>
        </div>
    </div>
    </div>
{% endblock %}
