{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>THE DOCKER PLATFORM</h1>
                <p>
                    Docker is an open source <span class="bold">containerization</span> platform that allows developers
                    to package applications into containers. It allows for development, shipping, and running
                    applications separate from a computer's infrastructure. The isolation and security that Docker
                    provides via its Docker Engine allows multiple containers to run at once on a single host.
                </p>
                <p>
                    In this section I will discuss:
                    <ul>
                        <li>Containers</li>
                        <li>Images</li>
                        <li>Docker commands</li>
                    </ul>
                </p>
            </div>
            <div class="col-4">
                <h1 class="red">Image Link to Docker Repo</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h3>CONTAINERS</h3>
                <p>
                    <span class="bold">Containers</span> are standardized units
                    of software that package up code and all their dependencies for the user so that applications can
                    run quickly and smoothly from one environment to another. They are the live, runnable instances of an image -
                    more on those below.
                </p>
                <p>
                    Although containers are similar to virtual machines (VMs), they do not contain operating
                    system (O.S.) images. VMs work in a hypervisor environment where each VM has its own "guest O.S."
                    running inside it. Containers share one O.S., the one that is running on the machine itself. Because
                    of this difference containers are faster and more lightweight than VMs.
                </p>
                <p>
                    The <a href="https://www.ibm.com/cloud/learn/docker">IBM Cloud Learn Hub</a> goes on to say,
                    "Containers are made possible by process isolation and virtualization capabilities built into the
                    Linux kernel. These capabilities...enable multiple application components to share the resources of
                    a single instance of the host operating system...". Unlike VMs, containers allow for much more
                    effective allocation of computer resources for applications because the resources of the host
                    computer are not locked out. If one container needs to use more RAM, for example, and a separate
                    container isn't using all of its RAM those resources can dynamically be shifted as needed.
                </p>
            </div>
            <div class="col-4">
                <h1 class="red">PUT DOCKER IMAGE HERE FOR CONTAINERS</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h3>IMAGES</h3>
                <p>
                    A Docker <span class="bold">Image</span> is a file used to execute code in a Docker container. The
                    <a
                            href="https://docs.docker.com/get-started/overview/">Docker docs</a> website goes on to
                    say, "An image is a read-only template with instructions for creating a Docker container. Often, an
                    image is based on another image, with some additional customization." Essentially working as a set
                    of instructions to build a container, the Image is the "starting point" when using Docker.
                </p>
                <p>
                    The Image contains code, libraries, and other files needed to make the application run inside its
                    container. They consist of multiple layers that stack on top of each other as they are changed by a user. They correlate back to a
                    specific version of the image, acting as a record of a Container at a specific time-point. Docker
                    images are stored on a cloud repository, such as <a href="https://hub.docker.com/">DockerHub</a>.
                </p>
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-8">
                <h3>DOCKER COMMANDS</h3>
            </div>
         </div>
    </div>
{% endblock %}
