{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>PROJECT 2 CONTENT AND EXAMPLES</h1>
                <p>
                    This page has been amended to the original web application in order to detail the required
                    information and examples for Project 2. Below you will see 4 sections that detail information we
                    have learned so far concerning, but not limited to, glossary of terms, AAA Testing and Python
                    testing importance, Principles of OOP, and SOLID.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>OBJECT ORIENTED PROGRAMMING (OOP) TERMS</h2>
                <ul>
                    <li class="mb-2"><b>INSTANTIATION</b> = <a
                            href="https://www.techopedia.com/definition/26857/instantiate">techopedia</a> defines
                        Instantiation as, " instantiation (the noun) in computer science refers to the creation of an
                        object (or an “instance” of a given class)...an instantiated object is named and created, in
                        memory or on disk."
                    </li>
                    <ul>
                        <li>Instantiation is the process of taking a class definition and creating an object that then
                            can be used in a program
                        </li>
                        <li class="mb-2">An example: <img src="static\images\InstantiationExample.png" class="img-fluid"
                                                          alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>CLASS</b> = <a href="https://www.geeksforgeeks.org/python-oops-concepts/">GeeksforGeeks.com</a>
                        defines a class as a collection of objects - they contain the blueprints from which objects are
                        then created. They are logical entities that can be called upon in the program, and contain methods and attributes
                    <ul>
                        <li class="mb-2">An example: <img src="static\images\ClassExample.png" class="img-fluid"
                                                          alt="Containerized Applications visual"></li>
                    </ul>
                    </li>
                    <li class="mb-2"><b>OBJECT</b> = <a href="https://www.geeksforgeeks.org/python-oops-concepts/">GeeksforGeeks.com</a>
                        defines object as any single integer, or any single string. Lists, arrays, and dictionaries are
                        all also objects even though they contain other objects</li>
                    <ul>
                        <li class="mb-2">they are entities that have state, identity, and behavior associated with
                            them
                        </li>
                        <li class="mb-2">An example is here: The test is instantiating the class "Division" from the
                            calculations file. The object "calculation" is then created, from which the test can then
                            run its assertion against <img src="static\images\ObjectExample.png" class="img-fluid"
                                                           alt="Containerized Applications visual"></li>
                    </ul>
                    <li class="mb-2"><b>NAMESPACE</b> = </li>
                    <li class="mb-2"><b>CONSTRUCTOR</b> = </li>
                    <li class="mb-2"><b>FIXTURE</b> = </li>
                    <li class="mb-2"><b>TYPE HINT</b> = </li>
                    <li class="mb-2"><b>TYPE CAST</b> = </li>
                    <li class="mb-2"><b>UNIT TEST</b> = </li>
                    <li class="mb-2"><b>STATIC</b> = </li>
                    <li class="mb-2"><b>STATIC METHOD</b> = </li>
                    <li class="mb-2"><b>INSTANCE METHOD</b> = </li>
                    <li class="mb-2"><b>INSTANCE PROPERTY</b> = </li>
                    <li class="mb-2"><b>STATIC PROPERTY</b> = </li>
                    <li class="mb-2"><b>ENCAPSULATION</b> = </li>
                    <li class="mb-2"><b>INHERITANCE</b> = </li>
                    <li class="mb-2"><b>POLYMORPHISM</b> = </li>
                    <li class="mb-2"><b>ABSTRACTION</b> = </li>
                    <li class="mb-2"><b>S.O.L.I.D.</b> = </li>
                    <li class="mb-2"><b>DESIGN PATTERNS</b> = </li>
                </ul>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>AAA TESTING WITH PYTHON</h2>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>PRINCIPLES OF OOP</h2>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h2>S.O.L.I.D. PROGRAMMING</h2>
            </div>
            <div class="col-4">
                <h2>PLACEHOLDER FOR IMAGERY</h2>
            </div>
        </div>
    </div>
{% endblock %}
